<div class="resources">
    <div class="fullspace">
        <div class="topspace">

        </div>
    </div>
    <div class="row">
        <div class="border col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <img src="/images/dashboard_pic.jpeg" style=" border-radius: 16px; width:100%;"></img>
            <p>Product</p>
            <p>Mar 2, 2025</p>
            <a href="/resources/how_to_get_funding.txt">How to get funding.</a>
            <!--x = pic of author-->
            <p>(x) Steve Johnson</p>
        </div>
        <div class="border col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <img src="/images/dashboard_pic.jpeg" style=" border-radius: 16px; width:100%;"></img>
            <p>Product</p>
            <p>Mar 2, 2025</p>
            <a href="/resources/how_to_get_funding.txt">How to get funding.</a>
            <!--x = pic of author-->
            <p>(x) Steve Johnson</p>
        </div>
        <div class="border col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <img src="/images/dashboard_pic.jpeg" style=" border-radius: 16px; width:100%;"></img>
            <p>Product</p>
            <p>Mar 2, 2025</p>
            <a href="/resources/how_to_get_funding.txt">How to get funding.</a>
            <!--x = pic of author-->
            <p>(x) Steve Johnson</p>
        </div>
        <div class="border col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <img src="/images/dashboard_pic.jpeg" style=" border-radius: 16px; width:100%;"></img>
            <p>Product</p>
            <p>Mar 2, 2025</p>
            <a href="/resources/how_to_get_funding.txt">How to get funding.</a>
            <!--x = pic of author-->
            <p>(x) Steve Johnson</p>
        </div>
        <div class="border col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <img src="/images/dashboard_pic.jpeg" style=" border-radius: 16px; width:100%;"></img>
            <p>Product</p>
            <p>Mar 2, 2025</p>
            <a href="/resources/how_to_get_funding.txt">How to get funding.</a>
            <!--x = pic of author-->
            <p>(x) Steve Johnson</p>
        </div>
        <div class="border col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <img src="/images/dashboard_pic.jpeg" style=" border-radius: 16px; width:100%;"></img>
            <p>Product</p>
            <p>Mar 2, 2025</p>
            <a href="/resources/how_to_get_funding.txt">How to get funding.</a>
            <!--x = pic of author-->
            <p>(x) Steve Johnson</p>
        </div>
    </div>
    <div class="row">
        <div class="border col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <img src="/images/dashboard_pic.jpeg" style=" border-radius: 16px; width:100%;"></img>
            <p>Product</p>
            <p>Mar 2, 2025</p>
            <a href="/resources/how_to_get_funding.txt">How to get funding.</a>
            <!--x = pic of author-->
            <p>(x) Steve Johnson</p>
        </div>
        <div class="border col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <img src="/images/dashboard_pic.jpeg" style=" border-radius: 16px; width:100%;"></img>
            <p>Product</p>
            <p>Mar 2, 2025</p>
            <a href="/resources/how_to_get_funding.txt">How to get funding.</a>
            <!--x = pic of author-->
            <p>(x) Steve Johnson</p>
        </div>
        <div class="border col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <img src="/images/dashboard_pic.jpeg" style=" border-radius: 16px; width:100%;"></img>
            <p>Product</p>
            <p>Mar 2, 2025</p>
            <a href="/resources/how_to_get_funding.txt">How to get funding.</a>
            <!--x = pic of author-->
            <p>(x) Steve Johnson</p>
        </div>
        <div class="border col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <img src="/images/dashboard_pic.jpeg" style=" border-radius: 16px; width:100%;"></img>
            <p>Product</p>
            <p>Mar 2, 2025</p>
            <a href="/resources/how_to_get_funding.txt">How to get funding.</a>
            <!--x = pic of author-->
            <p>(x) Steve Johnson</p>
        </div>
        <div class="border col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <img src="/images/dashboard_pic.jpeg" style=" border-radius: 16px; width:100%;"></img>
            <p>Product</p>
            <p>Mar 2, 2025</p>
            <a href="/resources/how_to_get_funding.txt">How to get funding.</a>
            <!--x = pic of author-->
            <p>(x) Steve Johnson</p>
        </div>
        <div class="border col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <img src="/images/dashboard_pic.jpeg" style=" border-radius: 16px; width:100%;"></img>
            <p>Product</p>
            <p>Mar 2, 2025</p>
            <a href="/resources/how_to_get_funding.txt">How to get funding.</a>
            <!--x = pic of author-->
            <p>(x) Steve Johnson</p>
        </div>
    </div>
</div>