<div class="pricing">

    <span class="subtitle">Pricing</span>
    <div class="pricing-container">
        <div class="title">One Plan, Simple Pricing</div>
        <p class="subtitle">The same core features for everyone</p>
        <div class="price">$29.00</div>
        <p class="description">Perfect for all fundraisers. All features included.</p>
        <a href="#" class="btn">Get started →</a>
        <p class="subtitle">You can cancel at any time</p>
        <ul class="features">
            <li>Unlimited team members</li>
            <li>Unlimited applications per month</li>
            <li>Unlimited campaigns</li>
        </ul>
    </div>

</div>
</div>