<div class="services">
    <div class="fullspace">
        <div class="topspace">
            <h1>Done for you fundraising</h1>
            <p>Get the funding your cause deserves with our start to finish fundraising service</p>

        </div>
        <img src="static/img/dashboard_pic.jpeg" style=" border-radius: 16px; width:80vw;"></img>

    </div>
</div>