<div class="head-campaign generic-style rounded-3 mt-5 ms-5">
    <div class="pt-3 ms-4">
        <h3>Campaigns</h3>
        <p>Update your account details below to complete your profile
        </p>
    </div>
</div>
<div class="campaign-body generic-style rounded-3 mt-5 ms-5">
    <div class="campaign-text pt-3 ms-4">
        <p>
            There are no active fundraising campaigns for Company.

        </p>
    </div>
</div>