<div class="dashboard-droplet-info generic-style mt-5 ms-4 rounded-3">
    <div class="dashboard-droplet-text ms-4">
        <p>Total Funds Raised</p>
        <h4>$0.00</h4>
    </div>
</div>
<div class="dashboard-droplet-info generic-style mt-5 ms-3 rounded-3">
    <div class="dashboard-droplet-text ms-4">
        <p>Active Campaigns</p>
        <h4>0</h4>
    </div>
</div>
<div class="dashboard-droplet-info generic-style mt-5 ms-3 rounded-3">
    <div class="dashboard-droplet-text ms-4">
        <p>Pending Applications</p>
        <h4>0</h4>
    </div>
</div>
<div class="dashboard-droplet-info generic-style mt-5 ms-3 rounded-3">
    <div class="dashboard-droplet-text ms-4">
        <p>Donations Received</p>
        <h4>0</h4>
    </div>
</div>

<div class="dashboard-funds-info generic-style mt-4 ms-4 rounded-3">
    <div class="dashboard-funds-text ms-4">

        <h5>Funds raised</h5>
        <div class="dropdown">
            <input class="input dropdown-toggle" data-bs-toggle='dropdown' placeholder="Choose an Option">
            </input>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
    </div>
</div>

<div class="dashboard-activity-feed generic-style mt-4 ms-4 rounded-3">
    <div class="dashboard-activity-text ms-4">

        <h5>Activity Feed</h5>
        <div class="dropdown">
            <input class="input dropdown-toggle" data-bs-toggle='dropdown' placeholder="Choose an Option">
            </input>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>

    </div>
    <hr>


</div>

<div class="dashboard-compliance generic-style mt-4 ms-4 rounded-3">
    <div class="dashboard-compliance-text ms-4">
        <h5>Compliance</h5>
    </div>

</div>